<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
    <img src="./img/weather.png" alt="">
    {{>header}}
    <img class="potrait" src="./img/julian-mora-cyOpW2k_xe0-unsplash.jpg" alt="">
    <p>This site was created by Shakil. It uses data form mapbox.com and darksky API</p>
    </div>
    
    {{>footer}}
    
</body>

</html>